html {
    overflow-x: hidden;
    background-color: #000 !important;
    background-image: url(../img/loading.webp) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain
}


.bubble .lwc-chat-button * {
    box-sizing: content-box
}

.section:hover a {
    color: #fff
}

#tab-graphql h1, #tab-graphql h2, #tab-graphql h3 {
    font-size: 2em !important
}

.slider h2 {
    color: #00c4ff !important
}

[type=checkbox]:checked, [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px
}

.checkbox:checked + label, .checkbox:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #ff0076
}

.checkbox:checked + label:before, .checkbox:not(:checked) + label:before {
    position: absolute;
    display: block;
    width: 300px;
    height: 36px;
    border-radius: 50%;
    color: #ff0076;
    content: "LOGIN";
    z-index: 20;
    left: -125px;
    line-height: 36px;
    text-align: center;
    font-size: 44px;
    font-weight: bolder;
    top: 50px;
    transition: all .5s ease;
    text-shadow: 0 0 0 #fd0076, 1px 1px 0 rgba(200, 0, 100, .8), 2px 2px 0 rgba(150, 0, 50, .6), 3px 3px 0 rgba(100, 0, 0, .4), 4px 4px 0 rgba(50, 0, 0, .2), 5px 5px 0 transparent
}

.checkbox:checked + label:before {
    content: "SIGNUP";
    transform: translateX(0) rotate(-720deg)
}

.checkbox:checked + label:after, .checkbox:not(:checked) + label:after {
    position: absolute;
    display: block;
    width: 300px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    content: "click here to go to the signup form";
    z-index: 20;
    left: -125px;
    line-height: 36px;
    text-align: center;
    font-size: 10px;
    font-weight: lighter;
    top: 0;
    transition: all .5s ease;
    text-shadow: 0 0 0 #c80064, 1px 1px 0 rgba(150, 0, 50, .6), 2px 2px 0 rgba(100, 0, 0, .4), 3px 3px 0 rgba(50, 0, 0, 0)
}

.checkbox:checked + label:after {
    content: "click here to return to the login form";
    transform: translateX(0) rotate(-720deg)
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: .7;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: .7;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: .7;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: .7;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.btn {
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: 0;
    background-color: #ff0076;
    color: #4ca1f2;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2)
}

.btn:active, .btn:focus {
    background-color: #4ca1f2;
    color: #ff0076;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2)
}

.btn:hover {
    background-color: #4ca1f2;
    color: #ff0076;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2)
}

.logo img {
    height: 26px;
    width: auto;
    display: block
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5)
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box
}

@keyframes spin {
    0% {
        --rotate: 0
    }
    100% {
        --rotate: 360deg
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: ROBOTO, sans-serif
}

.nav h1, .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: .5rem;
    letter-spacing: .3rem;
    color: #03dac6;
    transition: all .3s ease;
    z-index: 3
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: .3rem;
    font-family: ROBOTO, sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4
}

span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw
}

a {
    text-decoration: none
}

@media (min-width: 800px) {
    .nav h1, .slider h1 {
        font-size: 5vw
    }

    .nav h2, .slider h2 {
        font-size: 3vw
    }

}

@media (min-width: 360px) {
    .nav h1, .slider h1 {
        font-size: 8vw
    }

    .nav h2, .slider h2 {
        font-size: 2vw;
        letter-spacing: .2vw
    }

}

.loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate
}

@-webkit-keyframes loading {
    to {
        text-shadow: 20px 0 70px #ff0266;
        color: #ff0266
    }
}

.loader span:nth-child(2) {
    -webkit-animation-delay: .1s
}

.loader span:nth-child(3) {
    -webkit-animation-delay: .2s
}

.loader span:nth-child(4) {
    -webkit-animation-delay: .3s
}

.loader span:nth-child(5) {
    -webkit-animation-delay: .4s
}

.loader span:nth-child(6) {
    -webkit-animation-delay: .5s
}

.loader span:nth-child(7) {
    -webkit-animation-delay: .6s
}

.loader span:nth-child(8) {
    -webkit-animation-delay: .7s
}

.loader span:nth-child(9) {
    -webkit-animation-delay: .8s
}

.loader span:nth-child(10) {
    -webkit-animation-delay: .9s
}

.loader span:nth-child(11) {
    -webkit-animation-delay: 1s
}

.loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s
}

.loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s
}

.loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s
}

.loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s
}

.loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s
}

.loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s
}

.loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s
}

.loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s
}

.loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s
}

.loader span:nth-child(21) {
    -webkit-animation-delay: 2s
}

.loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s
}

#notifi-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
    bottom: auto;
    left: auto;
    width: 380px;
    z-index: 1000;
    pointer-events: none
}

.notifi-notification {
    box-shadow: 0 2px 2px rgba(0, 0, 0, .25), 0 0 15px rgba(0, 0, 0, .05) inset;
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    display: block;
    left: 400px;
    margin: 0 0 10px;
    opacity: 0;
    overflow: hidden;
    padding: 15px 15px 20px 80px;
    pointer-events: all;
    position: relative;
    width: 100%
}

.notifi-notification.not-dismissable .notifi-close, .notifi-notification.notifi-no-text .notifi-text, .notifi-notification.notifi-no-title .notifi-title {
    display: none
}

.notifi-notification .notifi-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease-out;
    cursor: pointer
}

.notifi-notification .notifi-close i {
    color: #333;
    height: 18px;
    left: 20px;
    pointer-events: none;
    position: relative;
    top: 10px;
    transition: color .25s ease;
    vertical-align: top;
    width: 18px
}

.notifi-notification .notifi-close:hover i {
    color: #555
}

.notifi-notification.danger .notifi-close i, .notifi-notification.info .notifi-close i, .notifi-notification.inverse .notifi-close i, .notifi-notification.primary .notifi-close i, .notifi-notification.success .notifi-close i, .notifi-notification.warning .notifi-close i {
    color: #fff
}

.notifi-notification.danger .notifi-close:hover i, .notifi-notification.info .notifi-close:hover i, .notifi-notification.inverse .notifi-close:hover i, .notifi-notification.primary .notifi-close:hover i, .notifi-notification.success .notifi-close:hover i, .notifi-notification.warning .notifi-close:hover i {
    color: #f0f0f0
}

.notifi-notification:hover .notifi-close {
    opacity: 1
}

.notifi-notification .notifi-title {
    margin: 0 0 6px;
    font-weight: 400;
    font-size: 22px
}

.notifi-notification .notifi-title + .notifi-text {
    margin-top: .3em
}

.notifi-notification p {
    margin: 0
}

.notifi-notification .notifi-text {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25em
}

.notifi-notification .notifi-icon {
    position: absolute;
    width: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: 15px
}

.notifi-notification .notifi-icon * {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    line-height: 50px;
    font-size: 34px;
    vertical-align: middle;
    text-align: center
}

.notifi-notification.notifi-no-icon .notifi-icon {
    display: none
}

.btn-notifi {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px
}

@media screen and (max-width: 480px) {
    #notifi-wrapper {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto
    }

    #notifi-wrapper .notifi-notification {
        margin: 0;
        padding-top: 10px;
        padding-right: 90px;
        border-radius: 0;
        box-shadow: none;
        border-top: 1px solid #ccc;
        padding-bottom: 10px
    }

    #notifi-wrapper .notifi-notification .notifi-close {
        box-shadow: none;
        opacity: 1
    }

    #notifi-wrapper .notifi-notification h3 {
        font-size: 20px
    }
}

body > canvas {
    z-index: 2 !important;
    display: block !important;
    visibility: visible;
    opacity: 1;
    pointer-events: none !important;
    position: fixed !important;
    mix-blend-mode: screen !important;
}

@-webkit-keyframes zindexx {
    0% {
        zindex: 1
    }
    100% {
        opacity: 9
    }
}

@keyframes zindex {
    0% {
        zindex: 1
    }
    100% {
        opacity: 9
    }
}

@-webkit-keyframes fader {
    0% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fader {
    0% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.starwars section {
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 1
}

.starwars .start span {
    color: #4bd5ee
}

.logo > img {
    height: 75px !important;
    width: auto;
    margin: 40% auto
}

.starwars .logo svg {
    width: inherit
}

.starwars .titles > div {
    position: absolute;
    top: 100%;
    -webkit-animation: titles 50s linear 9s;
    animation: titles 50s linear 9s
}

.starwars .titles > div > p {
    margin: 1.35em 0 1.85em;
    line-height: 1.35em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@-webkit-keyframes intro {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes intro {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes logo {
    0% {
        width: 18em;
        margin: -9em 0 0 -9em;
        transform: scale(2.75);
        opacity: 1
    }
    50% {
        opacity: 1;
        width: 18em;
        margin: -9em 0 0 -9em
    }
    100% {
        transform: scale(.1);
        opacity: 0;
        width: 18em;
        margin: -9em 0 0 -9em
    }
}

@keyframes logo {
    0% {
        width: 18em;
        margin: -9em 0 0 -9em;
        transform: scale(2.75);
        opacity: 1
    }
    50% {
        opacity: 1;
        width: 18em;
        margin: -9em 0 0 -9em
    }
    100% {
        transform: scale(.1);
        opacity: 0;
        width: 18em;
        margin: -9em 0 0 -9em
    }
}

@-webkit-keyframes titles {
    0% {
        top: 100%;
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        top: 20%;
        opacity: 0
    }
}

@keyframes titles {
    0% {
        top: 100%;
        opacity: 1
    }
    95% {
        opacity: 1
    }
    100% {
        top: 20%;
        opacity: 0
    }
}

#stream-chat h1 {
    background: #2b2b2b;
    color: #eee;
    text-align: center;
    font-weight: 300;
    padding: 1rem
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5e5e5e
}

::-webkit-resizer, ::-webkit-scrollbar, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: #2b2b2b
}

.header h1 {
    color: #404040;
    text-align: center
}

.header p {
    color: #555
}

#description a {
    color: #bfbfbf
}

#description a:hover {
    color: #f2f2f2
}

body[_hasID] {
    background: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    --has-1: #rsw-footer
}

body[_hasID]:not([_has*="@{#rsw-footer}"]):before {
    content: "Put it back!";
    font-size: 20vmin;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

body[_hasID]:not([_has*="@{#rsw-footer}"]) * {
    display: none
}

@keyframes lights {
    0% {
        color: #b7bee0;
        text-shadow: 0 0 1em hsla(320, 100%, 50%, .2), 0 0 .125em hsla(320, 100%, 60%, .3), -1em -.125em .5em hsla(40, 100%, 60%, 0), 1em .125em .5em hsla(200, 100%, 60%, 0)
    }
    30% {
        color: #d1d7f9;
        text-shadow: 0 0 1em hsla(320, 100%, 50%, .5), 0 0 .125em hsla(320, 100%, 60%, .5), -.5em -.125em .25em hsla(40, 100%, 60%, .2), .5em .125em .25em hsla(200, 100%, 60%, .4)
    }
    40% {
        color: #e5e9ff;
        text-shadow: 0 0 1em hsla(320, 100%, 50%, .5), 0 0 .125em hsla(320, 100%, 90%, .5), -.25em -.125em .125em hsla(40, 100%, 60%, .2), .25em .125em .125em hsla(200, 100%, 60%, .4)
    }
    70% {
        color: #d1d7f9;
        text-shadow: 0 0 1em hsla(320, 100%, 50%, .5), 0 0 .125em hsla(320, 100%, 60%, .5), .5em -.125em .25em hsla(40, 100%, 60%, .2), -.5em .125em .25em hsla(200, 100%, 60%, .4)
    }
    100% {
        color: #b7bee0;
        text-shadow: 0 0 1em hsla(320, 100%, 50%, .2), 0 0 .125em hsla(320, 100%, 60%, .3), 1em -.125em .5em hsla(40, 100%, 60%, 0), -1em .125em .5em hsla(200, 100%, 60%, 0)
    }
}

h1, h2, h3, h4 {
    animation: lights 5s 750ms linear infinite !important
}

#cube > div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, .2);
    border: 1px solid rgba(165, 0, 206, .5);
    opacity: .85;
    transform: translate(-50%, -50%) rotate3d(1, -1, 0, 60deg) scale(2.5) !important;
    box-shadow: 0 3px 16px rgba(210, 33, 42, .4)
}

@-webkit-keyframes cube-rotate {
    0% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, 60deg)
    }
    25% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, -120deg)
    }
    50% {
        transform: translate(-50%, -50%) rotate3d(1, -2, 1, 200deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, 420deg)
    }
}

@keyframes cube-rotate {
    0% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, 60deg)
    }
    25% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, -120deg)
    }
    50% {
        transform: translate(-50%, -50%) rotate3d(1, -2, 1, 200deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate3d(1, -1, 0, 420deg)
    }
}

.welcome-component > h2 {
    -webkit-animation: greetingAnim 7275ms forwards linear;
    animation: greetingAnim 7275ms forwards linear
}

@-webkit-keyframes greetingAnim {
    0% {
        opacity: 0;
        transform: translateY(-.5rem)
    }
    15%, 85% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(-.5rem)
    }
}

@keyframes greetingAnim {
    0% {
        opacity: 0;
        transform: translateY(-.5rem)
    }
    15%, 85% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 0;
        transform: translateY(-.5rem)
    }
}

@media (min-height: 425px) {

    #youtube span {
        font-size: 0;
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden
    }

}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

widgetquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none;
    padding: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #a0aec0
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #a0aec0
}

input::placeholder, textarea::placeholder {
    color: #a0aec0
}

[role=button], button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button, input, optgroup, select, textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code, kbd, pre, samp {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle
}

img, video {
    max-width: 100%;
    height: auto
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

[x-cloak] {
    display: none
}


html body {
    opacity: 0;
    visibility: hidden
}

html.loaded body {
    opacity: 1;
    visibility: visible
}

body, html {
    overflow-y: hidden;
    height: 100vh;
    background: radial-gradient(#000014, #0a0000)
}

* {
    transition: all 1s ease-in-out
}